@charset "utf-8";
#LogoArea{
    padding-top:10px; 
    padding-bottom:10px;
}
#ComboBoxBasketArea
{
    padding-top:10px; 
    padding-bottom:10px;
}
#Footer
{

}
#FirstContainer
{
    margin-top:10px;
}
#MyBasket
{
    background:url("https://www.w3schools.com/images/colorpicker.gif");
    background-size:320px 320px; 
    background-repeat:no-repeat; 
    float:right; 
    margin-top:15px; 
}
.link
{
    text-decoration: none;
    color:darkgray;
}