@charset "utf-8";
#LogoArea{
    padding-top:10px; 
    padding-bottom:10px;
}
#ComboBoxBasketArea
{
    padding-top:10px; 
    padding-bottom:10px;
}
#Footer
{

}
#FirstContainer
{
    margin-top:10px;
}
